{% extends 'starter.html' %}
{% load static %}
{% load mytags %}

{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding: 2px">

            <form action="{% url 'edit_customer' %}" class="col-md-1 pull-left">
                <button class="btn btn-primary" style="padding: 1px">增加客户</button>
            </form>
            <form action="{% url 'all_customers' %}" class="navbar-form navbar-left pull-right" role="search"
                  style="margin: 0">
                <div class="dropdown pull-left">
                    <select name="op" class="form-control op" style="width: 80px">
                        {% for key, values in customers_key.items %}
                            <option value="{{ key }}__contains">{{ values.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="content" value="">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>

        </div>

    </div>

    <form action="" class="form-inline" method="post">
        {% csrf_token %}
        <div class="row" style="padding: 2px">
            <div class="col-md-12">
                <div class="col-md-1" style="padding: 1px; width: 46px">
                    <button class="btn btn-primary" style="padding: 5px">确定</button>
                </div>
                <div class="form-group col-md-1" style="padding: 0">
                    <select name="batch" id="" class=" batch-op form-control" style="padding: 0">
                        <option value="private_public" selected>私户转公户</option>
                        <option value="public_private">公户转私户</option>
                    </select>
                </div>
                <div class="col-md-1" style="padding: 0">
                    <select name="user_id" id="" class="hide private-user form-control ">
                        {% for obj in user_obj %}
                            <option value="{{ obj.id }}">{{ obj.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" class="all_select" id="is_allchecked">选择</th>
                <th>编号</th>
                <th>qq</th>
                <th>姓名</th>
                <th>客户来源</th>
                <th>咨询课程</th>
                <th>销售</th>
                <th>状态</th>
                <th>跟进记录</th>
                {% if request|myfilter:'edit_customer' %}
                    <th>编辑</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for customer in customers_obj %}
                <tr>
                    <td><input type="checkbox" class="check" name="customer_id" value="{{ customer.pk }}"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ customer.qq }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.get_source_display }}</td>
                    <td>{{ customer.get_course_display }}</td>
                    <td>{{ customer.consultant|default:'暂无' }}</td>
                    {% if customer.status == 'signed' %}
                        <td><span style="background-color: green">{{ customer.get_status_display }}</span></td>
                    {% elif customer.status == 'unregistered' %}
                        <td><span style="background-color: red">{{ customer.get_status_display }}</span></td>
                    {% elif customer.status == 'studying' %}
                        <td><span style="background-color: yellow">{{ customer.get_status_display }}</span></td>
                    {% elif customer.status == 'paid_in_full' %}
                        <td><span style="background-color: blue">{{ customer.get_status_display }}</span></td>
                    {% endif %}
                    <td><a href="{% url 'consult_record' %}?id={{ customer.id }}">查看详情</a></td>
                    <td>
                        {% if request|myfilter:'edit_customer' %}
                            <a href="{% resolve_url request 'edit_customer' customer.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ page_obj }}
    </form>



    <script src="{% static 'bootstrap-3.3.7-dist/js/jquery.min.js' %}"></script>
    <script>
        $('.op').change(function () {
            if ($('.op').val() === 'birthday') {
                console.log($('.op').val())
                $('.search_content').attr('placeholder', 'yyyy-mm-dd')
            }
        })
        $('.batch-op').click(function () {
            if ($('.batch-op').val() == 'private_public') {
                $('.private-user').addClass('hide')
            } else {
                $('.private-user').removeClass('hide')
            }
        })
        $('.all_select').click(function () {
            $('.check').prop('checked', $('.all_select').prop('checked'))
        })

    </script>
{% endblock %}